<!--
  Generated template for the CalculatorModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Calculadora de Antropometría</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- Real floating action button, fixed. It will not scroll with the content -->
  <ion-fab top right edge>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)="whatsappShare()"><ion-icon name="logo-whatsapp"></ion-icon></button>
      <button ion-fab (click)="copyPaste()"><ion-icon name="copy"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>


    <ion-card>
      <ion-card-header color="primary">
        <strong>Datos básicos ingresados:</strong>
      </ion-card-header>
      <ion-card-content>
        <p *ngIf="genero"><strong>Género: </strong>{{genero}}</p>
        <p *ngIf="edad"><strong>Edad: </strong>{{edad}} años</p>
        <p *ngIf="peso_actual"><strong>Peso Actual: </strong>{{peso_actual}} kgs</p>
        <p *ngIf="peso_usual"><strong>Peso Usual: </strong>{{peso_usual}} kgs</p>
        <p *ngIf="talla"><strong>Talla: </strong>{{talla}} cms</p>
        <p *ngIf="carpo"><strong>Circunferencia de Carpo: </strong>{{carpo}}</p>
        <p *ngIf="triceps"><strong>Pliegue Cutáneo de Tríceps: </strong>{{triceps}}</p>
        <p *ngIf="brazo"><strong>Circunferencia de Brazo: </strong>{{brazo}}</p>
        <p *ngIf="rodilla"><strong>Altura de rodilla: </strong>{{rodilla}}</p>
        <p *ngIf="pantorrilla"><strong>Circunferencia de Pantorrilla: </strong>{{pantorrilla}}</p>
        <p *ngIf="albumina"><strong>Albúmina en Suero: </strong>{{albumina}}</p>
        <p *ngIf="cintura"><strong>Cintura: </strong>{{cintura}}</p>
        <p *ngIf="envergadura"><strong>Media Envergadura: </strong>{{envergadura}}</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header color="primary">
        <strong>Resultados calculados:</strong>
      </ion-card-header>
      <ion-card-content>
        <p *ngIf="peso_calculado"><strong>Peso Estimado: </strong>{{peso_calculado}} kgs</p>
        <p *ngIf="talla_calculada"><strong>Talla Estimada: </strong>{{talla_calculada}} cms</p>
        <p *ngIf="imc"><strong>Indice de Masa Corporal: </strong>{{imc}}</p>
        <p *ngIf="ppp"><strong>Porcentaje de Perdida de Peso: </strong>{{ppp}}</p>
        <p *ngIf="ec_valor"><strong>Estructura Corporal: </strong>{{ec_valor}} {{ec_nombre}}</p>
        <p *ngIf="pieo"><strong>Peso Ideal (Estructura Osea): </strong>{{pieo}}</p>
        <p *ngIf="act"><strong>Agua Corporal Total: </strong>{{act}}</p>
        <p *ngIf="pgc"><strong>Procentaje de Grasa Corporal: </strong>{{pgc}}</p>
        <p *ngIf="cpi"><strong>Peso Ideal (Según Talla): </strong>{{cpi}}</p>
        <p *ngIf="ps"><strong>Peso Saludable (Talla): </strong>{{ps}}</p>
        <p *ngIf="cmb_valor"><strong>Circunferencia Muscular del Brazo: </strong>{{cmb_valor}} {{cmb_nombre}}</p>
        <p *ngIf="irn_valor"><strong>Indice de Riesgo Nutricional: </strong>{{irn_valor}} {{irn_nombre}}</p>



      </ion-card-content>
    </ion-card>



    <ion-card>
      <ion-card-header color="primary">
        <strong>Log del proceso:</strong>
      </ion-card-header>
      <ion-card-content>
        <p *ngIf="log">{{log}}</p>
      </ion-card-content>
    </ion-card>


    <button ion-button block (click)="closeModal()">Regresar</button>
</ion-content>
