<!--
  Generated template for the CalculatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Calculadora</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-header>
            <strong>Antropometria</strong>
        </ion-card-header>
        <ion-card-content>
            Por favor indique los siguientes datos en el formulario.
        </ion-card-content>
    </ion-card>

    <form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>

          <ion-row radio-group formControlName="genero">
            <ion-col>
              <ion-item>
                <ion-icon name="woman" item-start></ion-icon>
                <ion-label color="primary">Mujer</ion-label>
                <ion-radio value="mujer"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-icon name="man" item-start></ion-icon>
                <ion-label color="primary">Hombre</ion-label>
                <ion-radio value="hombre"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>

        <ion-item *ngIf="myForm.get('edad').errors && myForm.get('edad').dirty">
          <ion-label color="genero" *ngIf="myForm.get('edad').hasError('required')">Entonces sos gay</ion-label>
        </ion-item>

        <ion-item>
            <ion-label color="primary" stacked>Edad</ion-label>
            <ion-input formControlName="edad" #edad placeholder="Ejemplo: 35" type="number" name="edad" max="100" edad min="0" pattern="[0-9]*"></ion-input>
        </ion-item>

        <!--
        <ion-item *ngIf="myForm.get('edad').errors && myForm.get('edad').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('edad').hasError('required')">La edad es requerida</p>
        </ion-item> -->

        <ion-item *ngIf="myForm.get('edad').errors && myForm.get('edad').dirty">
          <ion-label color="danger" *ngIf="myForm.get('edad').hasError('minlength')">Se embobo o que</ion-label>
          <ion-label color="danger" *ngIf="myForm.get('edad').hasError('maxlength')">No puede ser tan cucho</ion-label>
        </ion-item>

        <ion-item>
            <ion-label color="primary" stacked>Peso Actual</ion-label>
            <ion-input formControlName="peso_actual" #peso_actual placeholder="Ejemplo: 55" type="number" name="peso_actual" pattern="[0-9]*" step="0.01"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary" stacked>Peso Usual</ion-label>
            <ion-input formControlName="peso_usual" #peso_usual placeholder="Ejemplo: 60" type="number" name="peso_usual" pattern="[0-9]*" step="0.01"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary" stacked>Talla (centímetros)</ion-label>
            <ion-input formControlName="talla" #talla placeholder="Ejemplo: 153" type="number" name="talla" pattern="[0-9]*" step="0.01"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary" stacked>Circunferencia de carpo</ion-label>
            <ion-input formControlName="carpo" #carpo placeholder="Ejemplo: 15" type="number" name="carpo" pattern="[0-9]*" step="0.01"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary" stacked>Pliegue cutáneo de tríceps</ion-label>
            <ion-input formControlName="triceps" #triceps placeholder="Ejemplo: 16.5" type="number" name="triceps" step="0.01"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary" stacked>Circunferencia de brazo</ion-label>
            <ion-input formControlName="brazo" #brazo placeholder="Ejemplo: 26" type="number" name="brazo" pattern="[0-9]*" step="0.01"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary" stacked>Altura de rodilla</ion-label>
            <ion-input formControlName="rodilla" #rodilla placeholder="Ejemplo: 45.5" type="number" name="rodilla" pattern="[0-9]*" step="0.01"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary" stacked>Circunferencia de pantorrilla</ion-label>
            <ion-input formControlName="pantorrilla" #pantorrilla placeholder="Indique pantorrilla aquí" type="number" name="pantorrilla" pattern="[0-9]*" step="0.01"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary" stacked>Albumina en suero</ion-label>
            <ion-input formControlName="albumina" #albumnina placeholder="Ejemplo: " type="number" name="albumina" step="0.01"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary" stacked>Cintura en (en centímetros)</ion-label>
            <ion-input formControlName="cintura" #cintura placeholder="Indique cintura aquí" type="number" name="cintura" pattern="[0-9]*" step="0.01"></ion-input>
        </ion-item>

    <div formGroupName="amputacion">

        <ion-item>
            <ion-label color="primary" stacked>Miembro amputado</ion-label>
            <ion-select placeholder="Indique si hay miembro amputado" multiple="true"formControlName="amputaciones" #amputaciones name="amputaciones">
                <ion-option value="1">Mano</ion-option>
                <ion-option value="2">Antebrazo</ion-option>
                <ion-option value="3">Brazo hasta el hombro</ion-option>
                <ion-option value="4">Pie</ion-option>
                <ion-option value="5">Pierna debajo de la rodilla</ion-option>
                <ion-option value="6">Pierna por encima de la rodilla</ion-option>
                <ion-option value="7">Pierna entera</ion-option>
            </ion-select>
        </ion-item>

          <ion-item>
            <ion-label color="primary" stacked>¿Amputación bilateral?</ion-label>
            <ion-toggle formControlName="bilateral" #bilateral name="bilateral"></ion-toggle>
          </ion-item>

        </div>

        <button ion-button block type="submit" [disabled]="!myForm.valid">Calcular</button>

    </form>


</ion-content>
